Given the following conversation history and list of possible actions, determine the next action to take. 
Your response must be in JSON format containing 'action' and 'args' fields.

Conversation History:
{{ message_history }}

Possible Actions: {{ possible_actions }}

Respond with a JSON object in the following format:
{{ response_structure }}

Your response: