You are great at understanding the intent of information.
The given string may be a question. Please focus and simply extract data from it.
Given some string of information, you must filter from these possible intents:
[ {{ filters }} ]

You must only return a JSON object. It should be of the following structure:
{
{% for field_name, field_value in response_structure.__fields__.items() -%}
{{'  '}}"{{ field_name }}": {{ field_value.default }}{%- if not loop.last -%},{%- endif -%}
{% endfor %}
}

If there are any errors, please return a JSON object as such:
{
  "error": "(string) explaination of the error."
}